*
{
    box-sizing: border-box;
}

.contact-form
{
    text-align: center;
    background-color: #fcf9f1;
}

.contact-form form
{
    display: inline-block;

}

.g-1
{

    width: 100%;

}

.g-1 label
{
    text-align: left;
    display: block;
    font-size: 12px;
    font-family: moret,serif;

}

.form-field
{
    background-color: white;
    padding-top:  1em;   
    padding-bottom: 1em;
    margin-top: 0.3em;
    margin-bottom: 1em;
    width: 100% ;
    letter-spacing: 0.075em;
    border:1.5px solid #22A39F;;
    font-size: 18px;
}

.form-btn
{
    padding: .85em 1.5em .75em 1.5em;
    font-size: 1em;
    background-color: black;
    color:white;
    letter-spacing: 0.075em;
}

.form-btn:hover
{
    background-color: black;
    color:black;
    background-color: white;
}


p
{
    font-size: 21px;
    font-family: moret,serif;
    text-align: center;
    color: #727878;

}



.container
{
    padding: 40px 130px;
}


h2
{
    font-size: 54px;
    text-align: center;
    font-weight: 300;
    color: #22A39F;

}
h3
{
    font-size: 35px;
    font-weight: 300;
    color: #22A39F;

}
h4
{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 10px;

}

.font
{
    font-family: moret,serif;
}

.experience
{
    margin-bottom: 20px;
}


.col-1
{
    width:35%;
    float:left;


}
.experience p
{
    font-size: 20px;
    text-align: left;
    color: #434242;

}

.col-2
{
    width:65%;
    float:left;

}

.backgroundImg
{
    background-image:url('../Image/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 1000px;
   
}

.container-home
{
    padding: 250px 500px;


}
.backgroundImg p
{
    font-size: 60px;
    text-align: center;
    font-style: italic;
    color: #22A39F;

}

h1
{
    font-size: 100px;
    text-align: center;
    font-family:moret,serif;
    color: #22A39F;


}


#profile .container
{
    padding:40px 400px;
    display:block
}

#projects .container
{
    padding:40px 400px;
}

.col-3
{
    padding-left:10px;
    padding-right:10px;
    float: left;
    width: 33.33333333%;
    margin-bottom: 20px;
    height: 450px;
    

}

.col-4
{
    margin-bottom: 20px;
    padding-left:15px;
    padding-right:15px;
    float: left;
    width: 50%;
    margin-top: 20px;
    height: 300px;

}

.backgroundcolor
{
    background-color: #fcf9f1;

}

.col-4 img
{
    width:460px;
    height:280px;
}

.intro h3{
    font-size: 25px;
    font-weight: 300;
    color: white;
    text-align: left;
}

.intro p
{
    font-size: 15px;
    color: white;
    text-align: left;

}

td{

    background-color:#22A39F;
    width:460px;
    height:280px;
    padding: 5px;

}

.tableImg
{
    width:460px;
    height:280px;

}



table
{
    padding: 20px 70px;
    border-collapse: separate;
    border-spacing: 0 30px;

}


.github:hover 
{
    width:25px;
    height:25px;

}

.linkedIn:hover
{
    width:25px;
    height:25px;

}

.chat
{
    color:#22A39F;
    text-decoration:none;

}
.chat:hover
{
    text-decoration:underline overline wavy blue;

}

.jobtitle
{
    color:#22A39F;

}

.footertext
{
    font-size: 15px;
    line-height: 25px;
    color: #9eada6;
    font-weight: 300;
    margin: 0;
    padding-top: 20px;
}

#resume
{
    height:2000px;
}